body {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0 40px 0 40px;
	font-family: "PT Sans Narrow", Verdona, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: #f2f2f2;
	font-style: normal;
}

a {
	text-decoration: none;
}

.wrapper {
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	width: 1200px;
	background-color: #ffffff;
}

.visually-hidden {
	display: none;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*---------------------------------START HEADER---------------------------------*/

.nav__items {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 1.5px;
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	height: 56px;
	align-items: center;
}

.nav__item {
	padding: 0 75px 0 73px;
	justify-content: space-between;
	margin-left: auto;	
}

.item {
	padding-left: 84px;
}

.item--item {
	padding-left: 89px;
	padding-right: 70px;
}

.nav__link {
	color: #000000;
}

.nav__link_active {
	color: #766357;
}

.nav__link:active {
	color: rgba(0, 0, 0, 0.3);
}

.nav__link_active:active {
	color:  rgba(0, 0, 0, 0.3);
}

.nav__link:hover,
.nav__link:focus {
	color: #81b3d2;
}

.header {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
	position: relative;
	background-color: #ffffff;
}

.header-logo__img {
	width: 140px;
	height: 71px;
	position: relative;
	z-index: 1;
	top: 6px;
	display: block;
	margin-left: 44px;
	margin-right: 44px;
	
}
/*---------------------------------END HEADER----------------------------------*/

/*--------------------------------START BANNER---------------------------------*/

.banner {
	display: flex;
	position: relative;
	background-image: url("../img/background-photo.png");
	height: 510px;
	background-position: 0 -83px;
	background-repeat: no-repeat;
}

.banner__img-welcome {
	z-index: 2;
	justify-content: center;
	position: absolute;
	margin-left: 370px;
	height: 353px;
	top: 76px;
}

.banner__img-polygon {
	position: absolute;
	top: 452px;
	height: 59px;
	left: -1px;
}

/*---------------------------------END BANNER---------------------------------*/

/*-------------------------------START SECTION--------------------------------*/

.section__title {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.24;
	width: 466px;
	margin: 59px 370px 32px 370px;
	text-align: center;
	color: #000000;
	letter-spacing: 2.2px;
	height: 48px;
	font-stretch: normal;
	font-style: normal;
}

.section__description {
	height: 18px;
 	font-size: 13px;
 	font-weight: normal;
	 line-height: 1.86;
	 text-align: center;
	 margin: 30px 354px 56px 341px;
	 color: #333333;
	 letter-spacing: 2.1px;
	 width: 520px;
}

.section__background {
	background-color: #ffffff;
	position: absolute;
	border: 1px solid #ffffff;
	z-index: 3;
	top: 542px;
	height: 219px;
	width: 1200px;
}

/*---------------------------------END SECTION---------------------------------*/

/*--------------------------------START FEATURE--------------------------------*/

.feature {
	width: 1200px;
	display: flex;
}

.feature__wrapper {
	width: 400px;
	background-color: #81b3d2;
	text-align: center;
	letter-spacing: 1.5px;
}

.feature__title {
	font-size: 21px;
	text-align: center;
	color: #ffffff;
	margin: 0;
	padding: 47px 141px 25px 137px;
	letter-spacing: 2.1px;
	width: 129px;
}

.bridge-devil {
	width: 150px;
	padding-left: 127px;
	padding-right: 123px;
	padding-bottom: 23px;
}

.bridge-number {
	padding-left: 4px;
}

.feature__description-text {
	width: 303px;
	padding: 20px 40px;
	color: #ffffff;
	margin: 0;
	letter-spacing: 1.6px;
	padding-left: 50px;
    padding-right: 47px;
}

.feature__number {
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	padding-left: 5px;
	letter-spacing: 2.5px;
}

.feature__description {
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	margin: 0;
	padding: 20px 62px;
	width: 272px;
	letter-spacing: 1.5px;
}

.feature__number-number {
	color: #333333;
}

.features-list_item {
	margin-bottom: 121px;
}

.item-description {
	margin-bottom: 121px;
}

/*---------------------------------END FEATURE---------------------------------*/

/*------------------------------START ADVANTAGES-------------------------------*/

.advantages {
	margin-top: 60px;
}

.advantages__items {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	margin-bottom: 68px;
	padding: 0;
	margin-top: 0;
} 

.advantages__item {
	margin: 0;
	width: 252px;
	text-align: center;
	letter-spacing: 1.5px;
	margin-left: 13px;
}

.area {
	width: 208px;
	margin-left: 24px;
}

.advantages__title {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}

.advantages__description {
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	justify-content: center;
	flex-direction: column;
	margin-top: 23px;
}

.food-item {
	width: 284px;
	margin-left: 11px;
}

.souvenirs-item {
	width: 273px;
	margin-left: 0;
	margin-right: 5px;
}

.advantages__continuation {
	margin-top: 50px;
}

.advantages__header { 
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	letter-spacing: 2.5px;
}

/*-------------------------------END ADVANTAGES--------------------------------*/

/*--------------------------------START OFFER----------------------------------*/

.offer__title {
	margin: 0;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-weight: bold;
}

.offer__text {
	line-height: 24px;
	width: 320px;
	margin: 15px auto 0;
	text-align: center;
}

.offer-form__button {
	background-color: #766357;
	width: 568px;
	height: 86px;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 52px ;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;
}

.offer-form__button:hover {
	background-color: #604e43;
	cursor: pointer;
}

.offer-form__button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

/*---------------------------------END OFFER-----------------------------------*/

/*-------------------------------START SEARCH----------------------------------*/

.search-form {
	font-size: 14px;
	font-weight: bold;
	width: 459px;
	position: absolute;
	left: 50%;
	margin-left: -284px;
	background-color: #ffffff;
	box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
	padding-top: 69px;
	padding-left: 55px;
	padding-right: 55px;
}

.search-form__date-theme {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.search-form__text {
	min-width: 78px;
}

.search-form__input {
	font-size: 14px;
    font-weight: bold;
    border: 2px solid transparent;
    background-color: #f2f2f2;
    margin-left: 32px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 41px;
    height: 38px;
}

.search-form__input-number {
	font-size: 14px;
	font-weight: bold;
	border: none;
	background-color: #f2f2f2;
	outline: none;
	width: 38px;
	height: 38px;
	text-align: center;
	padding: 0;
}

.search-form__input:hover {
	background-color: #ebebeb;
}

.search-form__input:focus {
	border: 2px solid #e5e5e5;
}

.search-form__input:hover + .search-form__calendar {
	background-image: url(../img/calendar-black.svg);	
}

.search-form__input:focus + .search-form__calendar {
	background-image: url(../img/calendar-black.svg);
}

.search-form__input:active + .search-form__calendar {
	background-image: url(../img/calendar-blue.svg);
}

.search-form__calendar {
	background: url(../img/calendar.svg) no-repeat;
	position: absolute;
	height: 22px;
	width: 21px;
	top: 9px;
	right: 9px;
	cursor: pointer;
}

.search-form__button_calendar-1:hover {
	fill: #000000;
}

.search-form__button_calendar-2:hover {
	fill: #000000;
}

.search-form__button_calendar-1:active {
	stroke: #81b3d2;
}

.search-form__button_calendar-2:active {
	stroke: #81b3d2;
}

.search-form__people {
	display: flex;
	align-items: center;
} 

.search-form__people-theme {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 24px;
}

.search-form__button {
	border: none;
	color:rgba(0, 1, 1, 0.15);
	font-size: 29px;
	font-weight: bold;
	outline: none;
	height: 38px;
	width: 38px;
}

.search-form__button:hover {
	color: #000000;
}

.search-form__button:hover {
	color: #000000;
}

.search-form__button:active {
	color: #81b3d2;
}

.search-form__text--adults {
	margin-right: 35px;
}

.search-form__children {
	margin-left: 60px;
	margin-right: 27px;
}

.search-form__submit {
	background-color: #81b3d2;
	width: 458px;
	height: 58px;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	margin: 55px 0 55px 0;
	border: none;
}

.search-form__submit:hover {
	background-color: #669ec0;
	cursor: pointer;
}

.search-form__submit:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.search-queries{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.search-queries__list {
	list-style: none;
	display: flex;
	padding: 0;
}

.search-queries__items {
	margin-left: 33px;
}

.search-queries__title {
	font-size: 21px;
	font-weight: bold;
	margin: 31px 49px 64px 72px;
}

.search-queries__button {
	font-size: 12px;
	line-height: 18px;
	border: none;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	outline: none;
	border-bottom: dashed 1px;
	cursor: pointer;
}

.search-queries__button_active {
	border: none;
	font-size: 12px;
	line-height: 18px;
	color:#81b3d2;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
}

.search-queries__button_active:active {
	color:#000000;
}

.search-queries__button:hover {
	color: #81b3d2;
}

.search-queries__button:active {
	color: #000000;
}

/*--------------------------------END SEARCH-----------------------------------*/

.map {
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	height: 473px;
}

/*-------------------------------START FOOTER----------------------------------*/

.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 36px;
}

.footer__info {
	display: flex;
	flex-direction: column;
	padding-left: 132px;
}

.footer__hashtag {
	font-size: 21px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 16px;
}

.footer__phone {
	font-size: 21px;
	color: #000000;
	text-align: left;
}

.socials {
	list-style: none;
	display: flex;
	padding-right: 95px;
}

.socials__link {
	margin-right: 6px;
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	text-align: center;
}

.socials__link img {
	position: relative;
	top: 16px;
	left: 0px;
}

.socials__link:hover {
	background-color: #669ec0;
}

.socials__link img:active {
	background-color: #5496bd;
	opacity: 0.3;
}

.htmlacademy {
	display: flex;
	padding-right: 101px;
	align-items: center;
}

 .htmlacademy svg {	
	width: 115px;
	height: 41px;
	overflow: visible;
}

.htmlacademy svg:hover path {
	fill: #81b3d2;
}

.htmlacademy svg:active path {
	fill: #bdbbbc;
}

.logo {
	width: 64px;
	height: 64px;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-color: transparent;
  }

/*--------------------------------END FOOTER-----------------------------------*/

/*-------------------------------START FILTER----------------------------------*/

.filter {
	background-image: url(../img/filter-background.png);
	background-repeat: no-repeat;
	position: relative;
	background-position: 0 -290px;
	color: #ffffff;
	width: 100%;
}

.filter__form {
	display: flex;
	width: 100%;
}

.filter__border {
	border: 0;
	margin-left: 72px;
	margin-right: 115px;
	padding-left: 0;
}

.filter__title {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding: 31px 0 0 40px;
	padding-left: 0;
	display: flex; 
	flex-direction: column;
	color: #ffffff;
}

.filter__items {
	display: flex;
	list-style: none;
	flex-direction: column;
	align-content: space-around;
	padding-left: 0;
}

.filter__item {
	text-align: left;
	padding-bottom: 23px;
}

.filter__text {
	padding-left: 40px;
}

.filter__image-pool {
	position: relative;
	right: 88px;
    top: 6px;
}

.filter__image-parking {
	position: relative;
	right: 98px;
    top: 6px;
}

.filter__image-wi-fi {
	position: relative;
	right: 69px;
    top: 6px;
}

.filter__image-hotel {
	position: relative;
	right: 104px;
    top: 6px;
}

.filter__image-motel {
	position: relative;
	right: 84px;
    top: 6px;
}

.filter__image-apartments {
	position: relative;
	right: 126px;
    top: 6px;
}

.filter__header {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: 74px;
}

.filter__value {
	display: flex;
	margin-top: 13px;
}

.filter__number {
	padding: 11px 0;
	text-align: center;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	text-transform: uppercase;
}

.number {
	border-right: none;
}

.filter__img-button-left {
	position: relative;
	left: 269px;
    top: 15px;
}

.filter__range {
	height: 2px;
	width: 340px;
	background-color: #ffffff;
}

.filter__img-button-right {
	position: relative;
	top: -13px;
	left: -1px;
}

.filter__button {
	width: 133px;
	height: 32px;
	border: solid 2px #000000;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}
.filter__button:hover {
	color: #000000;
	background-color: #ffffff;;
}

/*--------------------------------END FILTER-----------------------------------*/

/*-------------------------------START ARROWS----------------------------------*/

.arrows {
	padding-left: 430px;
}

.arrows__triangle-up {
	fill: #cacaca;
	cursor: pointer;
}

.arrows__triangle-down {
	fill: #81b3d2;
	cursor: pointer;
}

.arrows__triangle-up:active {
	fill: #81b3d2;
}

.arrows__triangle-up, .arrows__triangle-down {
	border: none;
	outline: none;
}

.arrows__triangle-up:hover {
	fill: black;
}

.arrows__triangle-down:hover {
	fill: black;
}


/*--------------------------------END ARROWS-----------------------------------*/

/*-------------------------------START HOTELS----------------------------------*/

.hotels {
	padding-left: 72px;	
}

.hotels__items {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.hotels__item {
	list-style: none;
	display: flex;
}

.hotels__result {
	display: flex;
	margin-bottom: 61px;
}

.hotels__header {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	justify-content: space-between;
	text-align: left;
}

.hotels__name {
	color: #000000;
	font-size: 21px;
	margin: 0 0 12px 30px;
	cursor: pointer;
}


.hotels__name:hover {
	color: #81b3d2;
}

.hotels__name:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotels__item-type {
	margin: 0 35px 18px 30px;
}

.hotels__number {
	margin-left: 15px;
}

.hotels__number-number {
	margin-left: 35px;
}

.hotels__buttons {
	display: flex;
	margin: 0 6px 0 30px;
}

.hotels__button {
	padding: 0 6px 0 0;
	border: 1px solid #81b3d2;
	background-color: #81b3d2;
	color: #ffffff;
	text-transform: uppercase;
	width: 110px;
	height: 27px;
	margin: 0px 6px 5px 0;
	padding: 0;
	cursor: pointer;
}

.button {
	padding: 0 6px 0 0;
	background-color: #766357;
	border: 1px solid #766357;
	color: #ffffff;
	text-transform: uppercase;
	width: 142px;
	height: 27px;
	margin: 0px 6px 5px 0;
	padding: 0;
}

.hotels__button:hover {
	background-color: #669ec0;
}

.hotels__button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.button:hover {
	background-color: #604e43;
}

.button:active {
	color: #503e33;
}

.hotels__title {
	margin-left: auto;
	margin-right: 72px;
}

.title {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	margin: 41px 40px 47px 0;
}

.hotels__stars {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

.hotels__text {
	margin-top: 44px;
}
/*--------------------------------END HOTELS-----------------------------------*/