body {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0 40px 0 40px;
	font-family: "PT Sans Narrow", Verdona, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.wrapper {
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	text-align: center;
	max-width: 1200px;
	background-color: #ffffff;
}

.visually-hidden {
	display: none;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.nav__items {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-style: normal;
	letter-spacing: normal;
	list-style: none;
}

.nav__link {
	color: #000000;
}

.nav__link_active {
	color: #766357;
}

.nav__link_active:active {
	color:  rgba(0, 0, 0, 0.3);
}

.nav__link:active {
	color: rgba(0, 0, 0, 0.3);
}

.nav__link:hover,
.nav__link:focus {
	color: #81b3d2;
}

.section__title {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	width: 440px;
	margin: 59px 380px 38px 380px;
	text-align: center;
	color: #000000;
}

.section__description {
	width: 489px;
 	font-size: 14px;
 	font-weight: normal;
	 line-height: 26px;
	 text-align: center;
	 margin: 38px 356px 56px 355px;
	 color: #333333;
}

.feature {
	width: 1200px;
	display: flex;
}

.feature__wrapper {
	width: 400px;
	background-color: #81b3d2;
	padding-top: 46px;
	
}

.feature__title {
	font-size: 21px;
	text-align: center;
	color: #ffffff;
	margin: 0;
	padding: 15px 111px 25px;
}

.feature__number {
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

.feature__description {
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	margin: 25px auto;
	width: 220px;
}

.advantages {
	display: flex;
	margin-top: 60px;
}

.advantages__items {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	margin: 0 auto;
	padding: auto;
} 

.advantages__item {
	margin: 0 66px;
	width: 205px;
}

.advantages__title {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}

.advantages__continuation {
	margin-top: 50px;
}

.advantages__header { 
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	
}

.feature__number-number {
	color: #333333;
}

.features-list_item {
	margin-bottom: 121px;
}

.advantages__description {
	font-size: 14px;
	text-align: center;
	font-weight: normal;
    margin-bottom: 85px;
	
	justify-content: center;
	flex-direction: column;
}

.offer__title {
	margin: 0;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-weight: bold;
}

.offer__text {
	line-height: 24px;
	width: 320px;
	margin: 15px auto;
}

.offer-form__button {
	background-color: #766357;
	width: 568px;
	height: 86px;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.search-form {
	font-size: 14px;
	font-weight: bold;
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	height: 473px;
}

.search-form__theme {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-form__input {
	font-size: 14px;
	font-weight: bold;
}

.search-form__people {
	display: flex;
	align-items: center;
}

.search-form__submit {
	background-color: #81b3d2;
	width: 458px;
	height: 58px;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.filter__border {
	border: none;
}

.filter__items {
	list-style: none;
}

.filter__title {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding-left: 72px;
}

.filter__item {
	text-align: left;
}

.search-form__button_color {
	width: 133px;
	height: 32px;
	border: solid 2px #000000;
	text-transform: uppercase;
}

.filter__number {
	text-transform: uppercase;
}

.filter__range {
	height: 2px;
	width: 248px;
}

.search-queries, .search-queries__list li {
	display: inline;
	margin-right: 33px;
}

.search-queries__list {
	list-style: none;
	padding-left: 72px;
	text-align: left;
}

.search-queries__title {
	font-size: 21px;
	font-weight: bold;
	text-align: left;
}

.search-queries__items {
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	padding-left: 49px;
}

.search-queries__button_active {
	border: none;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	color:#81b3d2;
	outline: none;
	text-transform: uppercase;
}

.search-queries__button_active:active {
	color:#000000;
}

.search-queries__button {
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	border: none;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	outline: none;
	border-bottom: dashed 1px;
}

.search-queries__button:hover {
	color: #81b3d2;
}

.search-queries__button:active {
	color: #000000;
}

.arrows__triangle-up, .arrows__triangle-down {
	  border: none;
	  outline: none;
}

.arrows {
	text-align: left;
	padding-left: 72px;
}

.hotels {
	text-align: left;
	padding-left: 72px;
}

.hotels__items {
	list-style: none;
}

.hotels__name {
	color: #000000;
	font-size: 21px;
}

.hotels__raiting {
	color: #666666;
}

.hotels__button {
	padding: 8px 17px 7px;
	border: 1px solid #81b3d2;
	background-color: #81b3d2;
	color: #ffffff;
	text-transform: uppercase;
}

.hotels__button_color {
	padding: 8px 16px;
	background-color: #766357;
	border: 1px solid #766357;
	color: #ffffff;
	text-transform: uppercase;
}

.header {
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	position: relative;
	background-color: #ffffff;
}

.nav__items {
	display: flex;
}

.nav__item {
	padding: 0 100px;
	justify-content: space-between;
}

.header-logo__img {
	width: 140px;
	height: 71px;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 50%;
	margin-left: -70px;

}

.banner {
	display: flex;
	position: relative;
	background-image: url("../img/background-photo.png");
	height: 510px;
	background-position: 0 -105px;
	background-repeat: no-repeat;
}

.banner__img-1 {
	z-index: 2;
	justify-content: center;
	position: absolute;
	margin-left: 370px;
	height: 353px;
	top: 60px;
}

.banner__img-2 {
	position: absolute;
	top: 452px;
	height: 59px;
	left: -1px;
}

.section__background {
	background-color: #ffffff;
	position: absolute;
	border: 1px solid #ffffff;
	z-index: 3;
	top: 542px;
	height: 219px;
	width: 1200px;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.footer__info {
	display: flex;
	flex-direction: column;
	padding-left: 132px;
}

.socials {
	list-style: none;
	display: flex;
	padding-right: 95px;
}

.socials__link {
	margin-right: 6px;
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	align-items: baseline;
}

.socials__link img {
	position: relative;
	top: 16px;
}

.footer {
	margin-top: 36px;
}

.footer__hashtag {
	font-size: 21px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 16px;

}

.footer__phone {
	font-size: 21px;
	color: #000000;
	text-align: left;

}

.htmlacademy {
	display: flex;
	padding-right: 101px;
	align-items: center;
}

.logo {
	width: 64px;
	height: 64px;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-color: transparent;
  }
  



