body {
	padding: 0 40px 0 40px;
	font-family: "PT Sans Narrow", Verdona, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.page {
	text-align: center;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
	display: none;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.nav__items {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-style: normal;
	letter-spacing: normal;
	list-style: none;
}

.nav__link {
	color: #000000;
}

.nav__items a:hover,
.nav__items a:focus {
	background-color: red;
}

.post__content h2 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
	width: 440px;
	height: 48px; 
}

.post__item {
	width: 489px;
 	height: 13px;
 	font-size: 14px;
 	font-weight: normal;
 	line-height: 26px;
 	text-align: center;
}

.section__block_blue-back {
	width: 400px;
	height: 256px;
	background-color: #81b3d2;
}

.section__block_blue-back .section__block_left {
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	width: 280px;
	height: 146px;
	padding: 46px 60px 64px 60px; 
}

.section__block-title {
	font-size: 21px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.features-list__items {
	list-style: none;
}

.features__title {
	font-size: 21px;
	line-height: 21px;
}

.section__block_blue-back .section__block_right {
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	width: 280px;
	height: 146px;
	padding: 46px 60px 64px 60px; 
}

.section__block-title {
	font-size: 21px;
	font-weight: bold;
}

.main-item__title {
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
}

.search-form__button_brown {
	background-color: #766357;
	width: 568px;
	height: 86px;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.search-form {
	font-size: 14px;
	font-weight: bold;
}

.search-form__input {
	font-size: 14px;
	font-weight: bold;
}

.search-form__submit {
	background-color: #81b3d2;
	width: 458px;
	height: 58px;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.filter fieldset {
	border: none;
}

.main-page_position {
	text-align: left;
}

.found-result {
	font-size: 21px;
	font-weight: bold;
}

.sort-result {
	font-size: 12px;
	line-height: 18px;
}

.list-result{
	list-style: none;
}

.cost-item {
	font-size: 12px;
	line-height: 18px;
	color: #81b3d2;
}

.lists__text {
	list-style: none;
	text-align: left;
}

.lists__header {
	text-align: left;
	font-size: 16px;
	font-weight: bold;
}

.search-form__title {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

.search-form__button {
	width: 133px;
	height: 32px;
	border: solid 2px #ffffff;
}

.socials {
	list-style: none;
}

.footer__hachtag {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}

.footer__phone {
	font-size: 21px;
	color: #000000;
	text-align: center;

}
